<?xml version="1.0"?>

<robot name="arduinobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="world"/>

<link name="base_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://arduinobot_description/meshes/basement.STL" scale="0.1 0.1 0.1"/>
        </geometry>
    </visual>
</link>





</robot>